{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<section>
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <button type="submit">add carte</button>
    {{ form_end(form) }}
</section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}